.flexbox {
  display: flex;
  display: -moz-flex;
  display: -webkit-flex;
  display: -o-flex;
  display: -ms-flex;
  padding: 30px;
}

.flexbox section {
  flex: 1;
  margin: 10px;
}

section {
  font-family: arial;
  text-align: left;
}

section table {
  width: 100%;
}

section h1 {
  font-family: georgia;
}
